{
    "openapi": "3.0.0",
    "info": {
        "title": "HLTH Service",
        "description": "Servicio clínico",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "http://api.en.hegc.cl",
            "description": "Development server"
        }
    ],
    "paths": {
        "/hlth/evaluations/{id}": {
            "get": {
                "tags": [
                    "evaluations",
                    "get"
                ],
                "operationId": "getEvaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "care-manager-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "clinician-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "yyyy-mm-dd",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discharge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "draft",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "interconsulta",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "emit-counter-referral",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "drafts-patient-service-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-service-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-service-type-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-id!",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-ids[]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "enum",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    12,
                                    13,
                                    14,
                                    15,
                                    16,
                                    17,
                                    18,
                                    19
                                ]
                            }
                        }
                    },
                    {
                        "name": "type-ids!",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "especialidad-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "especialidad-ids",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Evaluación %d no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "evaluations"
                ],
                "operationId": "putEvaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Evaluación actualizada"
                    },
                    "400": {
                        "description": "No se puede editar una evaluación ya guardada"
                    },
                    "404": {
                        "description": "Evaluación %d no encontrada"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            },
            "patch": {
                "tags": [
                    "evaluations"
                ],
                "operationId": "deleteEvaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "400": {
                        "description": "No se puede eliminar una evaluación que no es borrador"
                    },
                    "404": {
                        "description": "Evaluación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/patient-services/{id}": {
            "get": {
                "tags": [
                    "patient-services"
                ],
                "operationId": "getPatientService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación ralizada correctamente"
                    },
                    "404": {
                        "description": "Atención %d no encontrada"
                    }
                }
            },
            "delete": {
                "tags": [
                    "patient-services"
                ],
                "operationId": "deletePatientService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/vital-signs/{id}": {
            "get": {
                "tags": [
                    "vital-signs"
                ],
                "operationId": "getVitalSign",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Signo Vital %d no encontrado"
                    }
                }
            },
            "delete": {
                "tags": [
                    "vital-signs"
                ],
                "operationId": "deleteVitalSign",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Signo Vital %d no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "vital-signs"
                ],
                "operationId": "patchVitalSignUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Patient"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "Formato de datos de entrada JSON inválidos",
                                        "value": {
                                            "errorData": null,
                                            "errorDescription": "Formato de datos de entrada JSON inválidos",
                                            "errorStatus": 400,
                                            "errorTitle": "API Exception"
                                        }
                                    },
                                    "2": {
                                        "summary": "Debe especificar un valor para actualizar el signo vital",
                                        "value": {
                                            "errorData": null,
                                            "errorDescription": "Debe especificar un valor para actualizar el signo vital",
                                            "errorStatus": 400,
                                            "errorTitle": "API Exception"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hlth/administrations/{id}": {
            "get": {
                "tags": [
                    "administrations"
                ],
                "operationId": "getAdministration",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Administración %d no encontrada"
                    }
                }
            }
        },
        "/hlth/administrations": {
            "get": {
                "tags": [
                    "administrations"
                ],
                "operationId": "getAdministrations",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/admissions/{id}": {
            "get": {
                "tags": [
                    "admissions"
                ],
                "operationId": "getAdmission",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admisión creada correctamente"
                    },
                    "404": {
                        "description": "Admisión %d no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "admissions"
                ],
                "operationId": "putAdmission",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admisión actualizada"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "404": {
                        "description": "Admisión %d no encontrada"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/admission-types/{id}": {
            "get": {
                "tags": [
                    "admission-types"
                ],
                "operationId": "getAdmissionType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "int"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Tipo de Admisión %d no encontrada"
                    }
                }
            }
        },
        "/hlth/admission-types": {
            "get": {
                "tags": [
                    "admission-types"
                ],
                "operationId": "getAdmissionTypes",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/admissions": {
            "get": {
                "tags": [
                    "admissions"
                ],
                "operationId": "getAdmissions",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            },
            "post": {
                "tags": [
                    "admissions"
                ],
                "operationId": "postAdmission",
                "responses": {
                    "201": {
                        "description": "Admisión creada correctamente"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/areas/{id}": {
            "get": {
                "tags": [
                    "areas"
                ],
                "operationId": "getArea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Area %d no encontrada"
                    }
                }
            }
        },
        "/hlth/areas": {
            "get": {
                "tags": [
                    "areas"
                ],
                "operationId": "getAreas",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManager",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Gestor de Atención %d no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "patchCareManagerUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "int"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "404": {
                        "description": "Gestor de Atención %d no encontrado"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/{path}/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado $path no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/evaluations/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Evaluación $d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/diagnoses/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Diagnostico $d no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/prescription-documents/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Receta %d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/patient-services/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Atención %d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/indications/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Indicación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/transfers/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Traslado %d no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/invasiveDeviceUses/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Tipo de Dispositivo Invasivo Uso %d no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/ext/{path}/{relatedDocumentId}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Ruta de datos $path no encontrada en el objeto persistente raíz"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/{path}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocuments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            },
            "post": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "postCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado $path no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "patchCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado $path no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/evaluations": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocuments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Evaluación $key no encontrada."
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/diagnoses": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocuments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Diagnóstico %d no encontrado."
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/prescription-documents": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocuments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Receta %d no encontrada."
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/patient-services": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Atención %d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/indications": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Indicación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/transfers": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Traslado %d no encontrado"
                    }
                }
            },
            "post": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "postCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "400": {
                        "description": "La Atención no se relaciona con el Gestor Atención a modificar"
                    },
                    "404": {
                        "description": "Documento relacionado transfers no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/invasiveDeviceUses": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Tipo de Dispositivo Invasivo Uso %d no encontrado"
                    }
                }
            }
        },
        "/hlth/care-managers/{id}/ext/{path}": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relatedDocumentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Ruta de datos $path no encontrada en el objeto persistente raíz"
                    }
                }
            },
            "patch": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "patchCareManagerRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado $path no encontrado"
                    }
                }
            }
        },
        "/hlth/care-manager-states/{id}": {
            "get": {
                "tags": [
                    "care-manager-states"
                ],
                "operationId": "getCareManagerState",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Estado de Gestor de Atención %d no encontrado"
                    }
                }
            }
        },
        "/hlth/care-manager-states": {
            "get": {
                "tags": [
                    "care-manager-states"
                ],
                "operationId": "getCareManagerStates",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/care-managers": {
            "get": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "getCareManagers",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            },
            "post": {
                "tags": [
                    "care-managers"
                ],
                "operationId": "postCareManager",
                "responses": {
                    "200": {
                        "description": "Gestor de Atención existente"
                    },
                    "201": {
                        "description": "Gestor de Atención creado correctamente"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/clinicians/{id}": {
            "get": {
                "tags": [
                    "clinicians"
                ],
                "operationId": "getClinician",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Clínico %d no encontrado"
                    }
                }
            }
        },
        "/hlth/clinicians": {
            "get": {
                "tags": [
                    "clinicians"
                ],
                "operationId": "getClinicians",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/diagnoses": {
            "get": {
                "tags": [
                    "diagnoses"
                ],
                "operationId": "getDiagnoses",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/diagnoses/{id}": {
            "get": {
                "tags": [
                    "diagnoses"
                ],
                "operationId": "getDiagnosis",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Diagnóstico %d no encontrado"
                    }
                }
            }
        },
        "/hlth/diagnosis-states/{id}": {
            "get": {
                "tags": [
                    "diagnosis-states"
                ],
                "operationId": "getDiagnosisState",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Estado de Diagnóstico %d no encontrado"
                    }
                }
            }
        },
        "/hlth/diagnosis-states": {
            "get": {
                "tags": [
                    "diagnosis-states"
                ],
                "operationId": "getDiagnosisStates",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/diagnosis-types/{id}": {
            "get": {
                "tags": [
                    "diagnosis-types"
                ],
                "operationId": "getDiagnosisType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Tipo de Diagnóstico %d no encontrado"
                    }
                }
            }
        },
        "/hlth/diagnosis-types": {
            "get": {
                "tags": [
                    "diagnosis-types"
                ],
                "operationId": "getDiagnosisTypes",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/dispensings/{id}": {
            "get": {
                "tags": [
                    "dispensings"
                ],
                "operationId": "getDispensing",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Dispensación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/dispensings": {
            "get": {
                "tags": [
                    "dispensings"
                ],
                "operationId": "getDispensings",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/evaluation-types/{id}": {
            "get": {
                "tags": [
                    "evaluation-types"
                ],
                "operationId": "getEvaluationType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Tipo de Evaluación %d no encontrado"
                    }
                }
            }
        },
        "/hlth/evaluation-types": {
            "get": {
                "tags": [
                    "evaluation-types"
                ],
                "operationId": "getEvaluationTypes",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/evaluations": {
            "get": {
                "tags": [
                    "evaluations"
                ],
                "operationId": "getEvaluations",
                "parameters": [
                    {
                        "name": "care-manager-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "clinician-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "yyyy-mm-dd",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discharge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "draft",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "interconsulta",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "emit-counter-referral",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "drafts-patient-service-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-service-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "patient-service-type-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-id!",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-ids",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "type-ids!",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "especialidad-id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "especialidad-ids",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/genres/{id}": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getGenre",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Sexo %d no encontrado"
                    }
                }
            }
        },
        "/hlth/genres": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getGenres",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/health-benefits/{id}": {
            "get": {
                "tags": [
                    "health-benefits"
                ],
                "operationId": "getHealthBenefit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Beneficio %d no encontrado"
                    }
                }
            }
        },
        "/hlth/health-benefit-types/{id}": {
            "get": {
                "tags": [
                    "health-benefit-types"
                ],
                "description": "Obtiene tipo de Beneficio.",
                "operationId": "getHealthBenefitType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Tipo de Beneficio %d no encontrado"
                    }
                }
            }
        },
        "/hlth/health-benefit-types": {
            "get": {
                "tags": [
                    "health-benefit-types"
                ],
                "description": "Retorna listado de tipos de beneficios.",
                "operationId": "getHealthBenefitTypes",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/health-benefits": {
            "get": {
                "tags": [
                    "health-benefits"
                ],
                "description": "Retorna listado de beneficios.",
                "operationId": "getHealthBenefits",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/indications/{id}": {
            "get": {
                "tags": [
                    "indications"
                ],
                "operationId": "getIndication",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Indicación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/indication-categories": {
            "get": {
                "tags": [
                    "indication-categories"
                ],
                "operationId": "getIndicationCategories",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/indication-categories/{id}": {
            "get": {
                "tags": [
                    "indication-categories"
                ],
                "operationId": "getIndicationCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Categoría de Indicación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/indications/{id}/{path}": {
            "get": {
                "tags": [
                    "indications"
                ],
                "operationId": "getIndicationRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Ruta de datos %s no encontrada"
                    }
                }
            },
            "post": {
                "tags": [
                    "indications"
                ],
                "operationId": "postIndicationRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Documento relacionado %s no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "indications"
                ],
                "operationId": "patchIndicationRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Documento relacionado %s no encontrado"
                    }
                }
            }
        },
        "/hlth/indications/{id}/ext/{path}": {
            "get": {
                "tags": [
                    "indications"
                ],
                "operationId": "getIndicationRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Documento relacionado %s no encontrado"
                    }
                }
            }
        },
        "/hlth/indication-states/{id}": {
            "get": {
                "tags": [
                    "indication-states"
                ],
                "operationId": "getIndicationState",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Estado de Indicación %d no encontrado"
                    }
                }
            }
        },
        "/hlth/indication-states": {
            "get": {
                "tags": [
                    "indication-states"
                ],
                "operationId": "getIndicationStates",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/indication-types/{id}": {
            "get": {
                "tags": [
                    "indication-types"
                ],
                "operationId": "getIndicationType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Tipo de Indicación %d no encontrada"
                    }
                }
            }
        },
        "/hlth/indication-types": {
            "get": {
                "tags": [
                    "indication-types"
                ],
                "operationId": "getIndicationTypes",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/indications": {
            "get": {
                "tags": [
                    "indications"
                ],
                "operationId": "getIndications",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/invasive-devices/{id}": {
            "get": {
                "tags": [
                    "invasive-devices"
                ],
                "operationId": "getInvasiveDevice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del dispositivo invasivo.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/invasive-device-uses/{id}": {
            "get": {
                "tags": [
                    "invasive-device-uses"
                ],
                "description": "Retorna dispositivo invasivo en uso",
                "operationId": "getInvasiveDeviceUse",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Tipo de Dispositivo Invasivo Uso $key no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "invasive-device-uses"
                ],
                "description": "Actualiza dispositivo invasivo en uso.",
                "operationId": "patchInvasiveDeviceUse",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/invasive-devices-historial": {
            "get": {
                "tags": [
                    "invasive-devices-historial"
                ],
                "operationId": "postPgetInvasiveDeviceUseHistorialatient",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/invasive-devices-historial/{id}": {
            "get": {
                "tags": [
                    "invasive-devices-historial"
                ],
                "operationId": "getInvasiveDeviceUseHistory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID historial dispositivo invasivo en uso.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/invasive-device-uses": {
            "get": {
                "tags": [
                    "invasive-device-uses"
                ],
                "description": "Listado de dispositivos invasivos en uso",
                "operationId": "getInvasiveDeviceUses",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/invasive-devices": {
            "get": {
                "tags": [
                    "invasive-devices"
                ],
                "operationId": "getInvasiveDevices",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    }
                }
            }
        },
        "/hlth/locations/{id}": {
            "get": {
                "tags": [
                    "locations"
                ],
                "operationId": "getLocation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Ubicación %d no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "locations"
                ],
                "operationId": "putLocation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ubicación actualizada"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "404": {
                        "description": "Ubicación %d no encontrada"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/location-histories": {
            "get": {
                "tags": [
                    "location-histories"
                ],
                "operationId": "getLocationHistories",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/location-histories/{id}": {
            "get": {
                "tags": [
                    "location-histories"
                ],
                "operationId": "getLocationHistory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Historial de ubicación %d no encontrado"
                    }
                }
            }
        },
        "/hlth/locations": {
            "get": {
                "tags": [
                    "locations"
                ],
                "operationId": "getLocations",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            },
            "post": {
                "tags": [
                    "locations"
                ],
                "operationId": "postLocation",
                "responses": {
                    "201": {
                        "description": "Ubicación creada correctamente"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/logs/{id}": {
            "get": {
                "tags": [
                    "logs"
                ],
                "operationId": "getLog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    },
                    "404": {
                        "description": "Bitácora %d no encontrada"
                    }
                }
            }
        },
        "/hlth/logs": {
            "get": {
                "tags": [
                    "logs"
                ],
                "operationId": "getLogs",
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente"
                    }
                }
            },
            "post": {
                "tags": [
                    "logs"
                ],
                "operationId": "postLog",
                "responses": {
                    "201": {
                        "description": "Operación realizada correctamente"
                    }
                }
            }
        },
        "/hlth/patients/{id}": {
            "get": {
                "tags": [
                    "patients"
                ],
                "summary": "Retorna un paciente.",
                "description": "Retorna un paciente consultando por su identificador.",
                "operationId": "getPatient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del paciente.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID del paciente.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "like-mrn",
                        "in": "query",
                        "description": "Buscar todos los pacientes que contienen el número de ficha especificado.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "like-nin",
                        "in": "query",
                        "description": "Buscar todos los pacientes que contienen el número de identificación nacional especificado.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mrn",
                        "in": "query",
                        "description": "Número de ficha.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Buscar todos los pacientes que contienen el nombre especificado.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nin",
                        "in": "query",
                        "description": "Número de identificación nacional.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Paciente %d no encontrado."
                    }
                }
            },
            "patch": {
                "tags": [
                    "patients"
                ],
                "operationId": "patchPatientUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del paciente.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Patient"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Paciente actualizado correctamente"
                    },
                    "400": {
                        "description": "Formato de datos de entrada JSON inválidos"
                    },
                    "404": {
                        "description": "Paciente %d no encontrado"
                    },
                    "409": {
                        "description": "Datos de entrada JSON inválidos"
                    }
                }
            }
        },
        "/hlth/patients/{id}/benefits": {
            "get": {
                "tags": [
                    "patients"
                ],
                "description": "Retorna los beneficios de un un paciente.",
                "operationId": "getPatientHealthBenefits",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "500": {
                        "description": "Beneficios de Salud de Paciente no soporta contención."
                    }
                }
            }
        },
        "/hlth/patients/{id}/{path}": {
            "get": {
                "tags": [
                    "patients"
                ],
                "description": "Retorna los datos adicionales de un paciente.",
                "operationId": "getPatientRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado %s no encontrado"
                    }
                }
            },
            "patch": {
                "tags": [
                    "patients"
                ],
                "description": "Este endpoint no sebería usarse, ya que está restringido solo para ext/{path}.",
                "operationId": "patchPatientRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ext": {
                                        "description": "",
                                        "type": "string",
                                        "example": ""
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "404": {
                        "description": "Documento relacionado %s no encontrado"
                    }
                }
            }
        },
        "/hlth/patients/{id}/ext/{path}": {
            "get": {
                "tags": [
                    "patients"
                ],
                "description": "Retorna los datos adicionales de un paciente.",
                "operationId": "getPatientRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada correctamente."
                    },
                    "402": {
                        "description": "Paciente $%d no encontrado"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Patient"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "Paciente $%d no encontrado",
                                        "value": {
                                            "code": 404,
                                            "message": "Paciente $%d no encontrado",
                                            "data": null
                                        }
                                    },
                                    "2": {
                                        "summary": "Ruta de datos %s no encontrada en el objeto persistente raíz",
                                        "value": {
                                            "code": 404,
                                            "message": "Ruta de datos %s no encontrada en el objeto persistente raíz",
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "patients"
                ],
                "description": "Actualiza los datos adicionales del paciente.",
                "operationId": "patchPatientRelatedDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
[...]
